DATABASE_HOST=users-db
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_NAME=users
PORT=3000
SNS_ENDPOINT=http://localstack:4566
AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SNS_USER_TOPIC_ARN=arn:aws:sns:eu-central-1:000000000000:user-events-topic
JWT_SECRET=test_jwt_secret
JWT_EXPIRATION_TIME=5m